@font-face {
  font-family: "font-1";
  src: url(../../assets/fonts/Skranji-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../../assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../../assets/fonts/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: "font-5";
  src: url(../../assets/fonts/Sacramento-Regular.ttf);
}

@font-face {
  font-family: "font-6";
  src: url(../../assets/fonts/Parisienne-Regular.ttf);
}

a {
  color: $color-4;
}

.appBar {
  max-height: 80px;
  width: 100vw;
  padding-left: 70px;
  padding-right: 20px;
  border-bottom: 2px solid #598381;
  background-color: #ffffff;

  @media only screen and (max-width: 900px) {
    padding-left: 20px;
  }

  a {
    color: #598381;
    font-family: 'font-3';
    font-size: 16px;
  }

  .boxBurger {
    .iconBurger {
      border: 1px solid $color-4;
      color: $color-4;
    }
  }

  .menuItemBurger {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: red;
  }

  .boxMenuDesktopPart1 {
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .boxMenuDesktopPart2 {
    display: flex;
    justify-content: flex-start;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .logoDesktop {
    display: flex;
    justify-content: center;

    .titleMenu {
      text-align: center;
      font-family: 'font-1';
      font-size: 34px;
      font-weight: 600;
      color: #598381;
    }

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  .boxLogoMobile {
    .logoMobile {
      text-align: center;
      font-family: 'font-1';
      font-size: 28px;
      font-weight: 600;
      color: #598381;
    }

    @media only screen and (max-width: 450px) {
      display: none;
    }
  }

  .boxAvatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      font-size: 12px;
      color: #598381;
      margin-right: 10px;

      @media only screen and (max-width: 1150px) {
        display: none;
      }
    }

    @media only screen and (max-width: 1150px) {
      display: none;
    }

  }

  .boxAvatar2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      font-size: 12px;
      color: #598381;
      margin-right: 10px;

      @media only screen and (max-width: 1150px) {
        display: none;
      }
    }

    @media only screen and (min-width: 1150px) {
      display: none;
    }
  }
}