.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    position: relative;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .boxHome {
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1.5px solid $color-4;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 40px -30px;

        p {
            font-family: 'font-2';
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 20px;
            @media only screen and (max-width: 600px) {
                font-size: 0.7rem;
            }
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    transform: scale(.5);
    animation: .5s slideIn ease-in-out forwards, 1s skewBg ease-in-out;
}

@keyframes skewBg {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes underline {
    100% {
        width: 100%;
    }
}

@keyframes slideIn {
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*---------------------------------------- BUTTON ----------------------*/
.boxButtonHome {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button-87 {
        min-width: 150px;
        margin: 20px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 5px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: rgba(0, 0, 3, 0.959) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        background-image: linear-gradient(45deg, #f26419 0%, #F09819 51%, #FF512F 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 3, 0.959) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .button-87:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .button-87:active {
        transform: scale(0.95);
    }
}

