.indexChild {

    .titleIndexChild {
        // background-color: #F09819;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        font-family: "font-1";
        color: $color-2;
        font-size: 44px;
        font-weight: 100;
        padding-top: 10%;
        @media only screen and (max-width: 800px) {
            display: flex;
            justify-content: center;
            align-items: center;
           text-align: center;
        }
    }

    .boxActionIndexChild {
        // background-color: aqua;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        margin-bottom: 15px;
        margin-left: 35px;
        margin-right: 35px;

        a {
            overflow: hidden;
            position: relative;
            display: inline-block;
        }

        a::before,
        a::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
        }

        a::before {
            background-color: #598381;
            height: 2px;
            bottom: 0;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        a:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
        }

        a span {
            display: inline-block;
            transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        a {
            text-decoration: none;
            color: #F09819;
            font-weight: 700;
            vertical-align: top;
        }

        .iconAddIndexChild {
            color: #598381;
        }
    }

    .boxProfil {
        // background-color: cyan;

        @media only screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .boxIndexChild {
            text-align: end;
            width: 100%;
            display: flex;
            justify-content: center;
            // background-color: red;
            border-bottom: 1px solid $color-2;
            padding: 20px;

            @media only screen and (max-width: 900px) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 6%;
            }

            .cardIndexChild {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: cornflowerblue;

                @media only screen and (max-width: 900px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                .avatarIndexChild {
                    width: 50%;
                    padding-right: 30px;
                    // background-color: darkseagreen;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media only screen and (max-width: 900px) {
                        padding: 0;
                        margin-bottom: 10px;
                    }

                    .avatar {
                        box-shadow: rgba(50, 50, 93, 0.45) 0px 50px 100px -20px, rgba(0, 0, 0, 0.33) 0px 30px 40px -30px;
                        border: $color-4 2px solid;
                    }
                }

                .boxInfoIndexChild {
                    // background-color: deeppink;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 50%;

                    @media only screen and (max-width: 900px) {
                        width: 100%;
                    }

                    .boxNameIndexChild {
                        // background-color: lightgreen;
                        display: flex;
                        justify-content: center;

                        p {
                            margin-right: 5px;
                            margin-bottom: 10px;
                        }

                        @media only screen and (max-width: 900px) {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            width: 100%;
                            padding-top: 10px;
                        }

                    }
                }
            }

            .buttonGroupIndexChild {
                // background-color: darkorchid;
                width: min-content;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                @media only screen and (max-width: 600px) {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                }

                .actionButtonIndexChild {
                    overflow: hidden;
                    position: relative;
                    display: inline-block;
                    display: flex;
                    width: min-content;
                    margin: 8px;
                    color: $color-4;
                }
            }
        }
    }

    /*---------------------------------------- LINK ----------------------*/
    .buttonGroupIndexChild {

        .actionButtonIndexChild::before,
        .actionButtonIndexChild::after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
        }

        .actionButtonIndexChild::before {
            background-color: #598381;
            height: 2px;
            bottom: 0;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .actionButtonIndexChild:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
        }

        .actionButtonIndexChild span {
            display: inline-block;
            transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
        }

        .actionButtonIndexChild {
            text-decoration: none;
            color: #F09819;
            font-weight: 700;
            vertical-align: top;
        }
    }
}