.indexChild {

    .boxProfil {
        // background-color: darkolivegreen;
        border: 1px solid #598381;
        border-radius: 10px;
        padding: 5%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      
    }
}