@font-face {
    font-family: "font-1";
    src: url(../../assets/fonts/Skranji-Regular.ttf);
}

@font-face {
    font-family: "font-2";
    src: url(../../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "font-3";
    src: url(../../assets/fonts/RobotoCondensed-Bold.ttf);
}

.menuNav {
    border-bottom: 2px solid #598381;
    background-color: #ffffff;

    a {
        color: #598381;
        font-family: 'font-3';
        font-size: 16px;
    }

    .box1 {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .box2 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .titleMenu {
            text-align: center;
            font-family: 'font-1';
            font-size: 34px;
            font-weight: 600;
            color: #598381;
        }
    }

    .box3 {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .box4 {
        p {
            color: #598381;
            margin-right: 5px;
        }

        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .avatarDesktop {
            margin-right: 20px;
        }
    }
}