.containerProfil {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    position: relative;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // background-color: darkolivegreen;
    @media only screen and (max-width: 1600px) {
        display: none;
      }
    .titleProfil {
        text-align: end;
        color: $color-2;
        font-size: 2.6rem;
        font-family: 'font-1';
        margin-bottom: 3%;
        margin-right: 8%;
    }

    .boxProfil {
        // background-color: darkolivegreen;
        border: 1px solid #598381;
        border-radius: 10px;
        padding: 5%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 40px -30px;

        .userCard {
            // max-height: 230px;
            // background-color: aqua;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            border-bottom: #598381 1px solid;
            .boxAction {
                text-align: end;
                width: 100%;
                display: flex;
                justify-content: end;
                // background-color: crimson;
            }
            .userCardTop {
                width: 100%;
                // background-color: brown;
                display: flex;
                justify-content: ce;
                align-items: center;
                p {
                    // background-color: #598381;
                    text-align:end;
                    margin-left: 5%;
                }
            }
            .userCardMiddle {
                margin-top: 10px;
                width: 100%;
                // background-color:coral;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    // background-color: #598381;
                    text-align:start;
                    
                }
            }
        }
        .childCard {
            // background-color: aqua;
            // min-height: 231px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            border-bottom: #598381 1px solid;
            .boxAction {
                margin-bottom: 20px;
                text-align: end;
                width: 100%;
                display: flex;
                justify-content: end;
                // background-color: crimson;
            }
            .userCardTop {
                width: 100%;
                // background-color: brown;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                p {
                    // background-color: #598381;
                    text-align:end;
                    margin-right: 5%;
                }
            }
            .userCardMiddle {
                margin-top: 10px;
                width: 100%;
                // background-color:coral;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-direction: column;
                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    // background-color: #598381;
                    text-align:start;
                    
                }
            }
        }

       
    }
}




/*---------------------------------------- LINK ----------------------*/
.boxAction {
a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }

  a::before,
  a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: #598381;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  
  a span {
    display: inline-block;
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a {
      text-decoration: none;
      color: #F09819;
      font-weight: 700;
      vertical-align: top;
  }
}

