.containerProfil {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    position: relative;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1600px) {
        display: none;
    }

    .titleProfil {
        text-align: end;
        color: $color-2;
        font-size: 2.6rem;
        font-family: 'font-1';
        margin-bottom: 2%;
        margin-right: 8%;
    }

    .boxProfil {
        border: 1px solid #598381;
        border-radius: 10px;
        padding: 5%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 40px -30px;

        .userCard {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            .boxAction {
                text-align: end;
                width: 100%;
                display: flex;
                justify-content: end;
            }

            .userCardTop {
                .avatarShowProfil {
                    border: 2px solid $color-4;
                }

                width: 100%;
                padding-left: 20%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    text-align: end;
                    margin-left: 5%;
                }
            }

            .userCardMiddle {
                margin-top: 10px;
                width: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-align: start;
                }
            }
        }
    }
}

/*---------------------------------------- LINK ----------------------*/
.boxAction {
    a {
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    a::before,
    a::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
    }

    a::before {
        background-color: #598381;
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    }

    a:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }

    a span {
        display: inline-block;
        transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    }

    a {
        text-decoration: none;
        color: #F09819;
        font-weight: 700;
        vertical-align: top;
    }
}