.summaryForm {
    h2 {
        text-align: center;
        color: $color-2;
        font-size: 1.6rem;
        font-family: 'font-1';
        margin-bottom: 5%;
        // margin-right: 8%;
    }

    padding: 35px;
    // margin-top: 40px;
    border-radius: 10px;
    border: $color-4 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-1;

    .button-87 {
        // height: 30px;
        width: 100%;
        padding: 5px 10px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 5px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #f26419 0%, #F09819 51%, #FF512F 100%);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-87:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .button-87:active {
        transform: scale(0.95);
    }

}











