@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Skranji-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "font-3";
  src: url(../assets/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../assets/fonts/RobotoCondensed-Light.ttf);
}

$color-1: #ffffff;
$color-2: #598381;
$color-6: #177e89;
$color-7: #08605f;
$color-3: #282c34;
$color-4: #f26419;
$color-5: #f6ae2d;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: $color-1;
  font-family: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  color: $color-3;
}

li {
  list-style-type: none;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.main {
  // border-top: 2px solid #598381;
  padding-bottom: 30px;
  min-height: 100vh;
  background-image: url(../../public/bgkurassmat4.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 30px;
  // border-bottom: red 3px solid;
}

.fox {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 16%;

  @media only screen and (max-width: 1600px) {
    display: none;
  }
}

.prince {
  position: fixed;
  bottom: 55%;
  right: 30px;
  width: 14%;
  opacity: 75%;

  @media only screen and (max-width: 1600px) {
    display: none;
  }
}

  /*---------------------------------------- BACK TO TOP ----------------------*/

 /* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.BackToTop {
  background-color: #282c34;
}
.iconBackToTop {
  color: #f26419;
  
}

