// @font-face {
//   font-family: "font-1";
//   src: url(../assets/fonts/Skranji-Regular.ttf);
// }


$color-1: #ffffff;
$color-2: #598381;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: $color-1;
  font-family: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  color: $color-3;
}

.mainLoginRegister {
border-top: 2px solid #598381;
height: 95vh;
background-image: url(../../public/bgkurassmat4.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

li {
  list-style-type: none;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

// h1 {
// font-family: "JosefinSans-Medium";
// }

.fox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 22%;
}



